# Ignore all files by default
*

# folder to not ignore
!.config/
!.vscode/


# this repo related files
!.gitignore
!LICENCE
!README.md
!requirements.sh
!.vscode/settings.json

# oh-my-posh
!.config/oh-my-posh/
!.config/oh-my-posh/**

# sway
!.config/sway/
!.config/sway/**
!.config/waybar/
!.config/waybar/**
