# Ignore all files by default
*

# folder to not ignore
!.config/
!.scripts/
!.vscode/


# this repo related files
!.gitignore
!LICENCE
!README.md
!.scripts/requirements.sh
!.scripts/setup-fish.sh
!.vscode/settings.json

# fish
!.config/fish/
!.config/fish/**

# oh-my-posh
!.config/oh-my-posh/
!.config/oh-my-posh/**

# sway
!.config/sway/
!.config/sway/**
!.config/waybar/
!.config/waybar/**
