# Ignore all files by default
*

# folder to not ignore
!.config/
!.vscode/


# this repo related files
!.gitignore
!./LICENCE
!./README.md
!.vscode/settings.json

# oh-my-posh theme
!.config/oh-my-posh/
!.config/oh-my-posh/starplus.omp.json
